*~
*.annot
*.cmi
*.cmo
*.cmt
*.cmx
*.dot
*.o
*.pdf
*.swp

doc/*.aux
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.log
doc/*.out
doc/*.toc

config
dist

analyze
batch
danalyze
dbatch
depend
regtestpipe
jptest

bench/rt/*.log
bench/bigrt/*/*.log
bench/bigrt/*/*/*.log
bench/bigrt/*/*/*/*.log

diff
*/TAGS
TAGS

mc-com*txt
*.c-*.txt
auto.ind
